body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d0d0d0;
    color: #303030;
    background-image: linear-gradient(to bottom right, #d0d0d0, #f0f0f0);
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1em;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    color: black;
}



.header__bigtext {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header__letter {
    white-space: pre;
    font-family: monospace;
    animation-name: flash;
    animation-duration: 0.25s;
    animation-timing-function: step-start;
}

.header__letter + .header__letter {
    margin-left: 1em;
}

.header__letter--1 {
    animation-delay: 1s, 3s;
}

.header__letter--2 {
    animation-delay: 1.25s, 3s;
}

.header__letter--3 {
    animation-delay: 1.5s, 3s;
}

.header__letter--4 {
    animation-delay: 1.75s;
}

.header__letter--5 {
    animation-delay: 2s;
}

.header__letter--6 {
    animation-delay: 2.25s;
}

.header__letter--7 {
    animation-delay: 2.5s;
}

.header__letter--8 {
    animation-delay: 2.75s;
}

.header__letter--9 {
    animation-delay: 3s;
}

.header__letter--acronym {
    animation-name: flash, flash;
    animation-duration: 0.5s, 1.5s;
    animation-fill-mode: none, forwards;
    animation-timing-function: step-start, linear;
}

@media (max-width: 750px) {
    .header__bigtext {
        font-size: calc(100vw / 63);
    }
} 

.header__strapline {
    font-size: 1.2em;
    color: #666;
    text-align: center;
}

@keyframes flash {
    from {
        color: black;
        font-weight: bold;
    }
    to {
        color: #008888;
        font-weight: bold;
    }
}



.projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    margin: 0.5em;
    min-height: 50vh;
}

.project {
    position: relative;
    margin: 0.5em;
    border: solid #999 0.2rem;
    background-color: #999;
    width: calc(100vw - 1em);
    min-height: 11em;

    display: flex;
    flex-direction: column;

    border-radius: 0.5em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    overflow: hidden;
}

@media (min-width: 550px) {
    .project {
        width: calc(50vw - 2em);
    }
}

@media (min-width: 700px) {
    .project {
        width: 45vw;
    }
}

@media (min-width: 850px) {
    .project {
        width: 24em;
    }
}

@media (min-width: 1100px) {
    .project {
        width: calc(33.33vw - 3em);
    }
}

@media (min-width: 1450px) {
    .project {
        width: 26.75em;
    }
}

@media (min-width: 1700px) {
    .project {
        width: calc(25vw - 4em);
    }
}

.project__image {
    height: 5rem;
    opacity: 0.25;
    transition: opacity 0.25s;
    border-bottom: solid #999 0.2rem;
}

.project:hover .project__image, .project:focus-within .project__image {
    opacity: unset;
}

.project__body {
    background-color: white;
    padding: 0.25rem 1.25rem;
    flex-grow: 1;
}

.project__name {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

a.project__name {
    color: black;
}

.project__codelink {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    transition: background-color 0.25s;
    padding: 0.15em 0.4em;
    border-radius: 0.25em;
}

.project:hover .project__codelink, .project:focus-within .project__codelink {
    background-color: #e0e0e0;
}



.project--about .project__image,
.project--github .project__image,
.project--transformer .project__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    font-size: 2.5em;
}

.project--countdown .project__image {
    background-image: url('projects/countdown.jpg');
    background-position: center bottom;
}

.project--interrogation .project__image {
    background-image: url('projects/interrogation.jpg');
    background-size: cover;
    background-position: center;
}

.project--dungeon .project__image {
    background-image: url('projects/dungeon.png');
    background-size: cover;
    background-position: right center;
}