
.header, .header__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: min(45vh, 12vw);
    width: 100vw;
    height: 100vh;
    font-family: plain;
}

.header__text {
    padding: 0 0.2em;
    border-radius: 0.2em;
}

.header__text--animateIn {
    animation-name: jackInTheBox;
    animation-duration: 1.5s;
}

.header--font {
    font-family: fancy;
}

.header--background {
    background: radial-gradient(circle, var(--fill1-color) 0%, var(--fill2-color) 100%);
    background-clip: text;

    .header__text {
        color: white;
        background-color: black;
        mix-blend-mode: multiply;

        .header__letter--active {
            text-decoration-color: rgb(127,127,127);
        }
    }
}

.header__letter {
    background: transparent;
    border: none;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    top: 0;
    text-decoration: underline;
    color: inherit;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.07em;

    transition: all 0.125s ease-in-out;

    &:active {
        top: 0.1em;
    }

    &:focus-visible {
        outline: none;
        color: var(--highlight2-color);
    }
}

.header__letter--active {
    text-decoration-color: var(--fill1-color);
}

.header__letter--i:hover, .header__letter--i:active {
    color: var(--bg-color);
    text-shadow:
       -0.007em -0.007em 0 var(--text-color),
        0.007em -0.007em 0 var(--text-color),
        -0.007em 0.007em 0 var(--text-color),
         0.007em 0.007em 0 var(--text-color);
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }
    
    50% {
        transform: rotate(-10deg);
    }
    
    70% {
        transform: rotate(3deg);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    
    10% {
        transform: scale3d(1.25, 0.75, 1);
    }
    
    13% {
        transform: scale3d(0.75, 1.25, 1);
    }
    
    17% {
        transform: scale3d(1.15, 0.85, 1);
    }
    
    22% {
         transform: scale3d(0.95, 1.05, 1);
    }
    
    25% {
        transform: scale3d(1.05, 0.95, 1);
    }
    
    33% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    
    5% {
        transform: scale3d(1.15, 1.15, 1.15);
        color: var(--highlight1-color);
    }
    
    10% {
        transform: scale3d(1, 1, 1);
    }
}

.header__text--animate {
    animation-name: rubberBand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.header__text--animateLetters .header__letter {
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &:nth-child(1) {
        animation-delay: 0s;
    }

    &:nth-child(2) {
        animation-delay: 0.333s;
    }

    &:nth-child(3) {
        animation-delay: 0.667s;
    }

    &:nth-child(4) {
        animation-delay: 1s;
    }

    &:nth-child(5) {
        animation-delay: 1.333s;
    }

    &:nth-child(6) {
        animation-delay: 1.667s;
    }

    &:nth-child(7) {
        animation-delay: 2s;
    }

    &:nth-child(8) {
        animation-delay: 2.333s;
    }

    &:nth-child(9) {
        animation-delay: 2.667s;
    }
}

.header__letter--o {
    position: relative;
}

.eye {
    position: absolute;
    pointer-events: none;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pupil {
    position: relative;
    top: 0.7em;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    font-size: 0.175em;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-color: var(--text-color);
    animation-name: eye;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.header--font .pupil {
    top: 1.3em;
    background-color: var(--bg-color);
}

@keyframes eye {
    15% {
        transform: translate(0, 0);
    }
    
    30% {
        transform: translate(-20%, 0);
    }
    
    60% {
        transform: translate(20%, 0);
    }

    75% {
        transform: translate(0, 0);
    }

    89% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1, 0);
    }

    91% {
        transform: scale(1, 1);
    }
}

.header--background .pupil {
    background-color: white;
}

.header--font.header--background .pupil {
    background-color: black;
}
