
.header, .header__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: min(45vh, 12vw);
    width: 100vw;
    height: 100vh;
    font-family: plain;
}

.header__text {
    padding: 0 0.2em;
    border-radius: 0.2em;
}

.header__text--animateIn {
    animation-name: jackInTheBox;
    animation-duration: 1.5s;
}

.header--font {
    font-family: fancy;
}

.header--background {
    background: radial-gradient(circle, var(--grad1-color) 0%, var(--grad2-color) 100%);
    background-clip: text;

    .header__text {
        color: white;
        background-color: black;
        mix-blend-mode: multiply;

        .header__letter--active {
            text-decoration-color: var(--lightTrans);
        }
    }
}

.header__letter {
    background: transparent;
    border: none;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    top: 0;
    text-decoration: underline;
    color: inherit;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.07em;

    transition: all 0.125s ease-in-out;

    &:active {
        top: 0.1em;
    }

    &:focus-visible {
        outline: none;
        color: red;
    }
}

.header__letter--active {
    text-decoration-color: var(--trans-text-color);
}

.header__letter--i:hover, .header__letter--i:active {
    color: var(--bg-color);
    text-shadow:
       -0.007em -0.007em 0 var(--text-color),
        0.007em -0.007em 0 var(--text-color),
        -0.007em 0.007em 0 var(--text-color),
         0.007em 0.007em 0 var(--text-color);
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }
  
    50% {
        transform: rotate(-10deg);
    }
  
    70% {
        transform: rotate(3deg);
    }
  
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
  
    10% {
        transform: scale3d(1.25, 0.75, 1);
    }
  
    13% {
        transform: scale3d(0.75, 1.25, 1);
    }
  
    17% {
        transform: scale3d(1.15, 0.85, 1);
    }
  
    22% {
         transform: scale3d(0.95, 1.05, 1);
    }
  
    25% {
        transform: scale3d(1.05, 0.95, 1);
    }
  
    33% {
         transform: scale3d(1, 1, 1);
    }
}

.header__text--animate {
    animation-name: rubberBand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#face {
    pointer-events: none;
    font-weight: bold;
    position: absolute;
    bottom: 1.7em;
    left: 0.65em;
    display: none;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    font-family: Consolas, monaco, monospace;
    font-size: 0.175em;
    width: 2em;
    height: 2em;
}

.header__letter--active.header__letter--o #face {
    display: initial;
}

.header--font .header__letter--active.header__letter--o #face {
    color: var(--bg-color);
}

.header--font.header--background .header__letter--active.header__letter--o #face {
    color: black;
}
